body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #35424a;
    color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    max-width: 1200px; /* 最大幅を1200pxに設定 */
    margin: 0 auto;    /* 中央揃え */
    padding: 20px;     /* 内側の余白を追加 */
    overflow: hidden;
}

article {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}